<div id="carouselExample" class="carousel slide" data-ride="carousel" data-interval="5000">
    <div class="carousel-inner">

        <!-- Primo gruppo di card -->
        <div class="carousel-item active">
            <div class="row justify-content-center">               
                <div class="col-12 col-sm-6 col-md-4 col-lg-2"><app-card></app-card></div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-2"><app-card></app-card></div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-2"><app-card></app-card></div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-2"><app-card></app-card></div>
            </div>
        </div>

        <!-- Secondo gruppo -->
        <div class="carousel-item">
            <div class="row justify-content-center">
                <div class="col-12 col-sm-6 col-md-4 col-lg-2"><app-card></app-card></div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-2"><app-card></app-card></div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-2"><app-card></app-card></div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-2"><app-card></app-card></div>
            </div>
        </div>

        <!-- Terzo gruppo -->
        <div class="carousel-item">
            <div class="row justify-content-center">
                <div class="col-12 col-sm-6 col-md-4 col-lg-2"><app-card></app-card></div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-2"><app-card></app-card></div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-2"><app-card></app-card></div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-2"><app-card></app-card></div>
            </div>
        </div>

    </div>

    <!-- Controlli di navigazione -->
    <a class="carousel-control-prev" href="#carouselExample" role="button" data-slide="prev">
        <button class="btn btn-light" aria-hidden="true">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="40" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"/>
            </svg>
        </button>
    </a>
    <a class="carousel-control-next" href="#carouselExample" role="button" data-slide="next">
        <button class="btn btn-light" aria-hidden="true">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="40" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8"/>
            </svg>
        </button>
    </a>
</div>
