<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

</head>
<body>
  <app-header></app-header>
  <app-jumbotron></app-jumbotron>
  <app-grid-articoli></app-grid-articoli>
  <app-primo-piano [title]="'Le categorie più richieste'" [subTitle]="'Articoli di tendenza'"></app-primo-piano>
  <app-primo-piano [title]="'I prodotti che ami'" [subTitle]="'Inseriti tra i preferiti'"></app-primo-piano>
  <app-primo-piano [title]="'Aquisti recenti'" [subTitle]="'Cosa stanno acquistando i nostri clienti'"></app-primo-piano>
  <app-footer></app-footer>
 
  
</body>
</html>