<header>
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start bg-dark">
        <a href="" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
            <img src="assets/Images/logo.svg" width="80" height="80" class="d-inline-block align-center p-2" alt="">
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><h1 href="#" class="nav-link px-2 text-info">Online Shopping</h1></li>
     
        </ul>

        <form class=" mb-lg-0 me-lg-3  col-sm-3 col-xl-4" role="search">
            <div class="input-group ">
              <input type="search" class="form-control form-control-dark text-bg-dark" placeholder="Cerca..." aria-label="Search">
              <button class="btn btn-outline-light" type="submit" aria-label="Esegui ricerca">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                  <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"></path>
                </svg>
              </button>
            </div>
          </form>
        

        <div class="text-end">
            <button class="btn btn-outline-light m-2 dropdown">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-cart" viewBox="0 2 16 16">
                    <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l1.313 7h8.17l1.313-7zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
                  </svg>
                <a id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
                  Carrello 
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="#">Vai al carrello</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Svuota carrello</a>
                </div>
            </button>
          <button type="button" (click)="handleRegistration()" class="btn btn-outline-light m-4">Registrati</button>
          <button type="button" (click)="handleLogin()" class="btn btn-warning">Accedi</button>
          <button type="button"  class="btn btn-primary m-4">Guest Account</button>
        </div>
      </div>
</header>
<app-nav-bar></app-nav-bar>
